body{
    /* background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #f49a07;
}
#calc{
    width: 350px;
    height: 600px;
    background-color: #040404;
    border-radius: 40px;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input_output{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 60px 25px;
}
#text{
    color: white;
    font-size: 67px;
    width: 300px;
    height: 50px;
    margin: 25px 20px;
    text-align: end;
}
#box_num{
    width: 300px;
    height: 420px;
    position: absolute;
    top: 110px;
    margin: 70px 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.num{
    line-height: 70px;
    font-size: 35px;
    color: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.morewidth{
    width: 144px;
    border-radius: 47%;
}
.orange{
    background-color: #f49a07;
}
.darkgrey{
    background-color: rgba(49,49,49,255);
}
.lightgrey{
    background-color: rgba(160,160,160,255);
    color: black
}

button:active{
    background-color: rgba(211, 211, 211, 0.493);
}